.sales_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 23%);
    margin-bottom: 50px;
}
@media (max-width: 1444px) {
    .sales_container {
        grid-template-columns: repeat(3, 32%);
        grid-gap: 2%;
    }
}
@media (max-width: 1024px) {
    .sales_container {
        grid-template-columns: repeat(2, 46%);
        grid-gap: 2%;
    }
}
@media (max-width: 768px) {
    .sales_container {
        grid-template-columns: repeat(1, 100%);
        grid-gap: 2%;
    }
}
