.discount {
    margin: 0 auto;
    background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
}
.discount_wrapper {
    display: flex;
    padding: 5% 12%;
}
.img_container {
    width: 50%;
}
.discount_title {
    color: white;
    font-size: 6rem;
}
.discount_text {
    color: white;
    font-size: 3rem;
    margin-bottom: 45px;
}
.phone_input {
    background: #FFF;
    width: 100%;
    border-radius: 25px;
    border: none;
    height: 4.5rem;
    margin-bottom: 30px;
    padding: 20px;
    color: #6C6C6C;
    font-size: 1.5rem;
}
.submit_button {
    width: 100%;
    border-radius: 25px;
    border: 2px solid white;
    height: 4.5rem;
    padding: 10px;
    font-size: 2rem;
    background-color: rgba(51, 153, 51, 1);
    color: white;
    cursor: pointer;
}
.error_message {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.registration_form {
    width: 100%;
}
.phone_input:focus {
    outline: none;
}
.img_discount {
    width: 100%;
}

@media (max-width: 1024px) {
    .discount_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}
@media (max-width: 768px) {
    .discount_title {
        font-size: 4rem;
    }
    .discount_text {
        font-size: 2rem;
    }
}

