.catalog_wrapper {
    width: 96%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0 110px 0;
}
.catalog_btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 30%;
}
h3 {
    font-size: 40px;
}