.sale_section {
    background-color: #A1E2EB;
}
.sale_wrapper {
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sale_title {
    margin-top: 130px;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
}