.input_wrapper {
    margin: 5% 0 5%;
    display: flex;
}
.select_wrapper {
    display: flex;
    align-items: center;
}
.filter_inputs_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 40px;
}
.discount_checkbox {
    width: 55%; 
    margin-right: 8%;
}
.filter_wrapper, .sort_wrapper {
    display: flex;
    align-items: center;
}
@media (max-width: 1024px) {
    .input_wrapper {
        flex-direction: column;
        align-items: flex-start; 
    }
    .filter_wrapper {
        margin-bottom: 3%;
    }
    .discount_checkbox {
        margin-top: 3%;
    }
}
@media (max-width: 768px) {
    .filter_wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .discount_checkbox {
        width: 60%;
    }
}
