.category_container {
    width: 96%;
    margin: 0 auto;
}

.category_wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 23%); 
    grid-gap: 20px;
}

h3{
    margin-bottom: 40px;
    font-size: 40px;
}